﻿body {
}

.Form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 100px;
}

.Form.RegisterForm {
    max-width: 500px;
}

.Form label {
    padding-top: 5px;
}

.Form .alert {
    padding: 7px;
    padding-right: 16px;
}

.Form .alert button.close {
    right: -11px;
    top: -6px;
}

#ServerSideErrorsContainer {
    display:none;
}